body{
    background-color: #00ffdd;
}

.glavni{
    margin: 10px 5px 0px 5px;
    background-color: #cbeee8;
    border-top: 3px solid #1100ff;
    border-radius: 5px 5px 0px 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    }

.lijevo{
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    gap: 20px;
}
 
.lijevo > p {
    display: inline;
    font-weight: bold;
    color: #0a093a;
    margin-right: 20px;
}

.slika{
    float: right;
    justify-self: end;
    }

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #0a093a;
}

a {
    margin: 10px;
    text-decoration: none;
    color: #cbeee8;
    }

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
    text-align: center;
}

table {    
    justify-content: center;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid black;
}

thead{

    text-align: center;
    padding: 8px;
    background-color: #0a093a;
    text-decoration: none;
    color: #cbeee8;
}

tbody{
    background-color: #cbeee8;
    text-align: center;
}

form input {
    margin-bottom: 5px;
    padding: 5px 3px;
}

form button {
    padding: 10px 20px;
}