body{
}

.slika {
    margin-top: 50px;
    background-image: url(log-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

glavni{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

upis {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

input {
    display: inline-block;
    margin: 5px
}

form input {
    margin-bottom: 5px;
    padding: 5px 3px;
}

form button {
    padding: 10px 20px;
}

