<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{naslov}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles_login.css')}}">
    </head>
    <body>
        <div class="slika">
        </div>
        <glavni> 
            <upis>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <br>
                    <input type="password" name="password" placeholder="Password" required>
                    <br>
                    {%if poruka %}
                    <p>{{poruka}}</p>
                    {%endif%}
                    <br>
                    <button>Log in</button>
                </form>
            </upis>
        </glavni> 
    </body>
</html>